.aboutus {
	margin-top: 43px;
	padding: 137px 85px;

	width: 100%;
	min-height: 450px;

	background: url("../../images/Bitmap2.png");
	border-radius: 10px;

	.aboutus__box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		.aboutus__title {
			margin: 0px;

			font-family: "Fraunces_9pt-Black";
			font-size: 40px;
			line-height: 48px;

			color: #fefcf7;
		}
		.aboutus__description {
			max-width: 455px;

			font-family: "Barlow-Regular";
			font-size: 16px;
			line-height: 26px;

			color: #fefcf7;
			opacity: 0.6;
		}
	}
}

// responsive

@media only screen and (max-width: 768px) {
	.aboutus {
		margin-top: 53px;
		padding: 118px 10px 118px 58px;

		background-position: center;

		.aboutus__title {
			margin: 0px;

			font-size: 32px;
			line-height: 40px;

			color: #fefcf7;
		}
		.aboutus__description {
			max-width: 398px;

			font-size: 15px;
			line-height: 25px;
		}
	}
}

@media only screen and (max-width: 375px) {
	.aboutus {
		margin-top: 40px;
		padding: 111px 24px 87px;

		background-position: center;

		.aboutus__box {
               align-items: center;
			gap: 24px;

			.aboutus__title {
				margin: 0px;

				font-size: 28px;
				line-height: 28px;
				text-align: center;
			}
			.aboutus__description {
				max-width: 279px;

				text-align: center;
			}
		}
	}
}
