.header {
	margin-top: 43px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav__list {
		display: flex;
		align-items: center;
		gap: 32px;

		list-style: none;

		.nav__link {
			font-family: "Barlow-bold";
			font-size: 12px;
			line-height: 15px;

			letter-spacing: 0.923077px;
			text-transform: uppercase;
			text-decoration: none;

			color: #83888f;

			&:hover {
				cursor: pointer;

				color: #2c343e;
			}
			&:active {
				color: #8a8d91;
			}
		}
	}
	.hamburger {
		display: none;
	}
}

//1) responsive width
@media (max-width: 576px) {
	.header {
          .header__logo>img {
               width: 163px;
               height: 18px;
          }
          margin-top: 32px;
          .navbar {
               display: none;
          }
          .hamburger {
               display: block;
          }
	}
}
