.hero {
	width: 100%;
	min-height: 600px;
	padding: 117px 0px 117px 85px;
	margin-top: 43px;

	background-image: url("../../images/header-png.jpg");
	border-radius: 10px;
	&__title {
		width: 493px;

		font-family: "Fraunces_9pt-black";
		font-size: 72px;
		line-height: 72px;

		color: #fefcf7;
	}
	&__description {
		width: 445px;
		margin-top: 32px;
		margin-bottom: 56px;

		font-family: "Barlow-Regular";
		font-size: 16px;
		line-height: 26px;

		color: #fefcf7;

		opacity: 0.6;
	}
	&__link {
		padding: 16px 31px;

		background: #0e8784;
		border-radius: 6px;

		font-family: "Fraunces_9pt-black";
		font-size: 18px;
		line-height: 25px;

		text-align: center;
		text-decoration: none;

		color: #fefcf7;

		&:hover {
			background: #66d2cf;
		}
		&:active {
			color: #2c343e;
		}
	}
}

// responsive tabilet
@media (max-width: 768px) {
	.hero {
		min-height: 500px;
		padding: 104px 0px 104px 58px;
		margin-top: 53px;

		background-position: center;

		&__title {
			max-width: 329px;
			width: 100%;

			font-size: 48px;
			line-height: 48px;
		}
		&__description {
			max-width: 398px;
			width: 100%;

			margin-top: 24px;
			margin-bottom: 40px;

			font-size: 15px;
			line-height: 25px;
		}
	}
}
// responsive mobile
@media (max-width: 576px) {
	.hero {
		padding: 100px 34px;
		background-position: center;

		&__title {
			max-width: 279px;
			width: 100%;

			font-size: 40px;
			line-height: 40px;
		}

		&__description {
			max-width: 279px;
			width: 100%;

			margin-top: 24px;
			margin-bottom: 40px;

			font-size: 15px;
			line-height: 25px;
		}
	}
}

// responsive mobile-min
@media (max-width: 375px) {
	.hero {
		padding: 97px 23px;
		background-position: center;

		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			text-align: center;
		}
		&__description {
			text-align: center;
		}
	}
}
