@font-face {
	font-family: "Barlow-bold";
	src: url("../../fonts/Barlow-bold.ttf");
	font-weight: 700px;
     font-style: normal;
}

@font-face {
     font-family: "Fraunces_9pt-black";
     src: url("../../fonts/Fraunces_9pt-Black.ttf");
     font-weight: 900px;
     font-style: normal;
}

@font-face {
     font-family: "Barlow-Regular";
     src: url("../../fonts/Barlow-Regular.ttf");
     font-weight: 400px;
     font-style: normal;
}